:root {

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
*,*::after, *::before
{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}
html
{
  font-size: 62.5%;
}
body
{
  min-height: 100vh;
  background-color: #06283D;
  display: flex;
  align-items: center;
  justify-content: center;
}